LLAMA_PORT=3002
LLAMA_EXTRA_ARGS=--ctx-size 4096 -b 4096 --ubatch-size 4096 -np 2

MODELS_HOST_DIR=/mnt/data/llm-models

# Model and mmproj file names (paths should be relative to MODELS_HOST_DIR)
MODEL_FILE=Qwen3.5-4B-Q4_K_M.gguf
MMPROJ_FILE=Qwen3.5-4B-GGUF-mmproj-BF16.gguf

HDMI_MATRIX_CONTROL_DIR=$HOME/Code/projects/portta-multiviewer-control
HDMI_MATRIX_SERIAL_PORT=/dev/ttyACM0
HDMI_MATRIX_CONTROL_PORT=5000

RECEIVER_DIR=./server
RECEIVER_ENABLE_DEBOUNCE=1
